body {
    font-family: Candara;
    margin: 0;
    padding: 0;
    vertical-align: central;
}

hr {
    width: 600px;
}

#mainDiv {
    margin: auto;
}

.common {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

    .common a {
        color: #60d1fc;
    }

img {
    width: 100px;
}

#sideMenu {
    position: inherit;
    vertical-align: central;
    font-size: larger;
    
}

legend {
    text-align: center;
}

.table {
    display: table;
}

.td {
    display: table-row;
}

.td {
    display: table-cell;
}

#groove {
    border: groove;
}
