body {
  font-family: Calibri;
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none;
  padding: 0; }

body > div {
  border: 1px solid black;
  height: 650px;
  margin: 1%;
  padding: 5px;
  background-color: #f1f1f1; }

nav > div {
  float: left;
  width: 10%;
  height: 100%;
  font-size: 12px; }

#centralDiv {
  border: 1px solid brown;
  float: left;
  width: 77%;
  height: 600px;
  background-color: #fff;
  padding: 5px;
  margin: 1px; }

#transCss {
  position: absolute;
  font-size: 70px;
  color: #0d2bd7;
  font-style: italic;
  text-shadow: 10px 10px 7px grey; }

#rightDiv {
  margin-left: 150px;
  padding-bottom: 20px;
  min-height: 100px; }

aside > div {
  float: right;
  width: 11%;
  height: 100%;
  font-size: 12px;
  margin: 0;
  text-align: center; }
  aside > div > section > div {
    border: 1px solid #525151;
    margin-left: 0;
    margin-right: 1px;
    margin-bottom: 2px; }

.greyDiv {
  background-color: #808080;
  color: white;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 0; }

#homeImg {
  max-width: 30px;
  display: inline-block;
  position: absolute;
  padding-top: 15px; }

h1 {
  margin: 0;
  padding: 0; }

h2 {
  color: brown;
  font-weight: bold;
  margin: 0;
  padding: 0; }

#home {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 30px;
  padding-top: 15px; }

input[type=text] {
  display: inline-block;
  width: 80px;
  margin-right: 5px; }

input[type=button] {
  margin-left: 0; }

.whiteButton {
  background-color: white;
  border: 1px solid black;
  width: 130px; }

a {
  color: brown; }

